<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1062894019542-hpkkf92gd21a2u1i03malseb4gv40foq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1062894019542-hpkkf92gd21a2u1i03malseb4gv40foq</string>
	<key>API_KEY</key>
	<string>AIzaSyD4-shD4IOiltS61CWFijbPqmgveds6Fu0</string>
	<key>GCM_SENDER_ID</key>
	<string>1062894019542</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jaymie.Studdies</string>
	<key>PROJECT_ID</key>
	<string>studdies-7d20b</string>
	<key>STORAGE_BUCKET</key>
	<string>studdies-7d20b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1062894019542:ios:96d40f6ccf4643d9c63a77</string>
	<key>DATABASE_URL</key>
	<string>https://studdies-7d20b.firebaseio.com</string>
</dict>
</plist>